/* CSS: Es piel, ropa y maquillaje. */
/* El ";" indica unicamente el final de una declaración de atributo y su valor, si no se usa, el lenguaje interpretará que la declaración continúa. */

/*^CSS*/


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*
/* ~Conceptos Basicos Aplicados /*
/* &Estructura de estilos en hoja CSS o etiqueta <style> */
/* Todo - Estructura: La estructura es aquella que conforma la forma de declarar un estilo a una etiqueta */
/* ?Propiedades:  
? Selector: Es el elemento o clase al que se le aplicará el estilo. Por ejemplo, si usas "p", seleccionas todos los párrafos para aplicarles el estilo. Si usas una clase como ".mi-clase", solo los elementos con esa clase recibirán el estilo.
? Atributo: Es la característica que quieres cambiar en un elemento. Por ejemplo, "color" te permite cambiar el color de algo, y "font-size" te permite cambiar el tamaño del texto. Cada atributo controla un aspecto diferente del elemento. 
? Valor: Es lo que asignas a un atributo para definir cómo se comporta. Por ejemplo para "color", usas un valor como "red" para indicar un color, para "font-size", usas un valor como "10px" para indicar el tamaño. Cada atributo requiere un tipo específico de valor según su función. */ 
.estructura{ /**Selector.**/       
        color: /**Atributo.**/
        red; /**Valor de atributo**/
}

/* &Estructura de estilos en etiquta HTML */
/* ?Propiedades:  
? Propiedad: Es la parte dentro de una etiqueta HTML que se usa para declarar estilos directamente. Por ejemplo, en <p style="">, "style" es la propiedad que indica que dentro de las comillas se escribirán los estilos. No es necesario usar un selector, ya que el estilo se aplica directamente al elemento.
? Atributo: Es la característica que quieres cambiar en un elemento. Por ejemplo, "color" te permite cambiar el color de algo, y "font-size" te permite cambiar el tamaño del texto. Cada atributo controla un aspecto diferente del elemento. 
? Valor: Es lo que asignas a un atributo para definir cómo se comporta. Por ejemplo para "color", usas un valor como "red" para indicar un color, para "font-size", usas un valor como "10px" para indicar el tamaño. Cada atributo requiere un tipo específico de valor según su función. */ /*
style=" /**Propiedad.*
color: /**Atributo*
red;" /**Valor**/

/* Todo - Declaración: Una declaración es el conjunto de la estructura que incluye el **selector/propiedad**, el **atributo** y el **valor del atributo**. En CSS, cada declaración se escribe entre llaves {}. */
.declaracion{
    color: red;  /** Declaración: selector/propiedad + atributo + valor **/
}

